@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem-Vindo(a)!</h1>
    <p class="lead fs-4">Gerencie facilmente os estudantes cadastrados no IEL.</p>
    <a href="/Estudante" class="btn btn-primary btn-lg mt-3">Ver Estudantes</a>
</div>
